.hero-img {
  height: 500px;
  object-fit: cover;
}

.fade {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeIn 1.2s forwards;
}

@keyframes fadeIn {

  to {
    opacity: 1;
    transform: translateY(0);
  }

}
