.hero-img {
  height: 500px;
  object-fit: cover;
}

.fade {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeIn 1.2s forwards;
}

@keyframes fadeIn {

  to {
    opacity: 1;
    transform: translateY(0);
  }

}
body {
  letter-spacing: 0.5px;
}

h1, h2, h3, h4 {
  font-family: 'Georgia', serif;
}

.btn-danger {
  background: linear-gradient(to right, #b31217, #e52d27);
  border: none;
}

footer {
  font-size: 14px;
}
