{% extends "base.html" %}
{% block content %}

<!-- Carousel -->
<div class="text-center my-4 fade">
  <h1 class="fw-bold">Where Taste Meets Luxury</h1>
  <p class="text-muted">Serving excellence since 2026</p>
</div>

<div id="hero" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">

    <div class="carousel-item active">
      <img src="https://images.unsplash.com/photo-1555396273-367ea4eb4db5" class="d-block w-100 hero-img">
    </div>

    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1528605248644-14dd04022da1" class="d-block w-100 hero-img">
    </div>

  </div>

</div>

<!-- About -->
<section class="container my-5 fade">

    <h2 class="text-center mt-4">Welcome to LuxuryDine</h2>
    <p class="text-center text-muted">
    Experience fine dining, premium flavors, and unforgettable moments.
    </p>

</section>
<!--trust section-->
<section class="container my-5 fade">

  <div class="row text-center">

    <div class="col-md-4">
      <h4>⭐ 4.9 Rating</h4>
      <p>Rated by 2000+ customers</p>
    </div>

    <div class="col-md-4">
      <h4>🥘 Master Chefs</h4>
      <p>20+ years of experience</p>
    </div>

    <div class="col-md-4">
      <h4>🏆 Awarded</h4>
      <p>Best Fine Dining 2025</p>
    </div>

  </div>

</section>

<!-- Reservation -->
<section class="bg-light p-5 fade">

  <div class="container">

    <h3 class="text-center">Book a Table</h3>

    <form class="row g-3">

      <div class="col-md-6">
        <input class="form-control" placeholder="Name">
      </div>

      <div class="col-md-6">
        <input class="form-control" placeholder="Phone">
      </div>

      <div class="col-md-6">
        <input type="date" class="form-control">
      </div>

      <div class="col-md-6">
        <input type="time" class="form-control">
      </div>

      <div class="col-12 text-center">
        <button class="btn btn-danger btn-lg px-5">Book Your Table</button>
      </div>

    </form>

  </div>

</section>

{% endblock %}
